<!DOCTYPE html>
<html>
  <head>
    <title>📽 Slackimation</title>
    <meta name="description" content="Animated slack messages! 📽">
    <link id="favicon" rel="icon" href="/favicon.png" type="image/png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Lato|Monoton" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Slackimation!</h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      made by <a href="https://github.com/roborourke">@roborourke</a><br />
      shamelessly robbed from <a href="https://github.com/mroth/slacknimate">mroth</a>
    </footer>
  </body>
</html>
