<section class="fail">
  <h2>Booerns 💩</h2>
  <p>
    Something went awry. Maybe nag <a href="https://twitter.com/robertorourke">Rob</a>
    on twitter to add some proper error messages&hellip; 🙄
  </p> 
  <p>
    In the meantime you could try the login / add to slack process again 😕
  </p>
</section>

<section class="add-to-slack">
  <p>
    {{> add-to-slack}}
  </p>
  <p>or</p>
  <p>
    {{> sign-in-with-slack}}
  </p>
</section>
