<section class="intro">
  <h2>Privacy 🕵️‍</h2>
  <h3>Cookies</h3>
  <p>Slackimation uses a single session cookie during the <strong>"Add to Slack"</strong> or
    <strong>"Sign in with Slack"</strong> steps. It contains not personally idetifiable
    information.</p>
  <h3>Data</h3>
  <p>Authentication token data is stored using
    <a href="https://mlab.com">mlab.com</a> backed by AWS. All web traffic is
    SSL encrypted.</p>
  <p>Your data will never be used for any purpose other than the functioning
    of this app. It will never be sold to 3rd parties and you will never
    receive any emails from the app.</p>
</section>
