<section class="intro">
  <div class="img-wrap">
    <img src="/animator.gif" alt="Go Animator Go!" />
  </div>
  <p>
    Use the slash command <code>/animate</code>, set the <code>delay</code>
    and the number of times it should <code>loop</code>, then every line of text
    after that is a frame of your animation!
  </p>
  <p class="add-to-slack">
    {{> add-to-slack}}
  </p>
</section>

<section class="sign-in-to-slack">
  <p>Already have the app installed for your team?<br />
    Sign in to start animating 🙌</p>
  {{> sign-in-with-slack}}
</section>
